<!--<p>projects works!</p>-->



<div class="main" id="projects" wmAnimate="landing" aos speed="faster">
  <h1 class="project-title"></h1>
<!--    <img src="https://github.com/Mehwish028/my_portfolio" alt="Sarthak Goenka Github Chart" class="github__chart">-->
  <div class="github__chart">
    <app-github-calendar></app-github-calendar>
  </div>
  <div class="repo-cards-div-main" >
    <app-github-repo-card *ngFor="let project of projects2; let i = index" [github]="project" [index]="i"></app-github-repo-card>
  </div>

</div>

